{% extends "base.html" %}

{% block content %}

    <h1>글 상세 페이지</h1>
    <h2>{{ post.title }}</h2>
    <p>작성자 : <a href="{% url 'users:user_profile' post.author.username %}" >{{ post.author.username }}</a> | 작성일시: {{ post.created_at|date:'Y-m-d H:i:s' }} | 수정일시: {{ post.updated_at|date:'Y-m-d H:i:s' }}</p>
    <p>♥️좋아요 {{ post.like_users.count }}</p>

    <hr>

    <p>{{ post.content }}</p>

    <hr>
    <form action="{% url 'posts:like' post.pk %}" method="POST">
        {% csrf_token %}
        {% if request.user in post.like_users.all %}
            <input type="submit" value="좋아요 취소">
        {% else %}
            <input type="submit" value="♥️ 좋아요">
        {% endif %}
    </form>
    <hr>

    {% if post.author == request.user %}
        <form action="{% url 'posts:post_update' post.pk %}" style="display: inline;">
            <button type="submit">수정하기</button>
        </form>

        <form action="{% url 'posts:post_delete' post.pk %}" method="post" style="display: inline;">
            {% csrf_token %}
            <button type="submit">삭제하기</button>
        </form>
    <hr>
    {% endif %}

    <a href="{% url 'posts:post_list' %}">
        <button>글 목록 보기</button>
    </a>

{% endblock content %}
