{% extends "base.html" %}

{% block content %}

    <h1>글 상세 페이지</h1>
    <h2>{{ post.title }} </h2>
    <p>작성자 : {{ post.author.username }} | 작성일시: {{ post.created_at|date:'Y-m-d H:i:j' }} | 수정일시: {{ post.updated_at|date:'Y-m-d H:i:j' }}</p>
    
    <hr>

    <p> {{ post.content }}</p>

    <hr>

    <a href="{% url 'posts:post_list' %}"><button>목록 보기</button></a>
    <form action="{% url 'posts:post_update' post.pk %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">수정</button>
    </form>

{% endblock content %}