<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class='navbar'>

        {% if request.user.is_authenticated %}
        <h3>Hello, {{ request.user.username }}</h3>
        <form action="{% url 'users:logout' %}" method='POST' style="display: inline;">
            {% csrf_token %}
            <input type='submit' value='로그아웃'></input>
        </form>
        <a href="{% url 'users:user_profile' user.username %}" >
            <button type='button'>프로필</button>
        </a>

        {% else %}
        <a href="{% url 'users:signup' %}"><button type='submit'>회원가입</button></a>
        <a href="{% url 'users:login' %}"><button type='submit'>로그인</button></a>

        {% endif %}

    </div>

    <div class='container'>
    {% block content %}
    {% endblock content %}
    </div>
</body>
</html>